.container {
    /* display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-flow: column dense; */
    height: 1945px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.item__container {
    width: 350px;
    height: fit-content;
}

img.item__item {
    width: inherit;
}